.Game-finished {
    opacity: 0.6;
}

.Field {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.Field-mini {
  margin: 12px;
  min-width: 140px;
  min-height: 140px;
  height: 140px;
  width: 140px;
}

.Field-full {
  width: 320px;
}

.Field-mini .Field-cell {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 9px;
  text-align: center;
}

.Field-full .Field-cell {
  border: 1px solid #ddd;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 28px;
}

.Field-cell-ghost {
  opacity: 0;
}

.Field-cell:hover .Field-cell-ghost {
  opacity: 0.3;
}
