#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Game-list {
    max-width: 100%;
    display: flex;
    flex: 0;
}

.Game-list-scroller {
    overflow-x: scroll;
    border-bottom: 1px solid #ddd;
}

.Game-list-grid {
    flex-wrap: wrap;
}

.Game-list .Game:not(:last-child) {
  border-right: 1px solid #ddd;
}

.Game-fake {
  padding: 12px;
  width: 140px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color 300ms ease;
  cursor: pointer;
}
.Game-fake:not(:hover) {
   color: #bbb !important;
}

.App-gameScreen {
  padding: 40px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}